.table tr {
    height: 6vh;
}

.bold-row {
    font-weight: bold;
    font-style: italic;
}

.publication-link {
    text-decoration: none;
    line-height: 1.2;
    font-weight: bold;
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
}

.series-link {
    color: #460A1F;
}

input {
    font-size: 150%;
}

.add-form label {
    font-size: 120%;
}

.add-form {
    display: flex;
    align-items: center;
}

.add-form * {
    margin-right: 1vh;
}

.publication-list {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.comicsHeader{
    display: flex;
    justify-content: space-around;
}