.book-stats-table {
    width: 30%;
}

.book-stats-table > * th {
    font-weight: normal;
}

.book-stats-table > tbody > tr.bold-row-stats {
    font-weight: bold;
    font-size: 120%;
}

.book-stats-table > * .bold-row-stats > th {
    font-weight: bold;
}

.book-stats-table > * td {
    border-color: black;
    border-left-style: solid;
    text-align: center;
}

.book-stats-table > thead > tr > th {
    font-weight: bold;
}

.book-stats-table > th:nth-child(1) {
    width: 20%;
}

.book-stats-table > td:nth-child(2) {
    width: 10%;
}