table {
    width: 100%;
    border-spacing: 0;
    border-right-style: solid;
    border-color: black;
    border-bottom-style: solid;
}

thead > tr > th {
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: black;
}

th {
    border-left-style: solid;
    border-color: black;
}

.book-table tr {
    height: 3vh;
}

tbody > tr:nth-child(odd) {
    background-color: cadetblue;
}

td {
    border-color: black;
    border-left-style: solid;
    text-align: center;
}

td:nth-child(2) {
    text-align: left;
}

.book-button.btn-sm {
    padding-top: 0;
    padding-bottom: 0;
}

.add-book {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.input {
    background-color: purple;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: black;
    height: 100%;
    outline: 0;
    width: 30%;
    font-size: 22px;
}

.input-block > .input {
    color: antiquewhite;
}

.input-block {
    display: flex;
    gap: 1vh;
}

.input-label {
    width: 10%;
    font-size: 22px;
}

.form-button {
    width: 40%;
    font-size: larger;
}
