.book-table {
    width: 100%;
    border-spacing: 0;
    border-color: black;
    font-family: "Trebuchet MS", serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead > tr > th {
    border-top-style: solid;
    border-bottom-style: solid;
}

.book-table > th {
    font-weight: normal;
}

.book-table tr {
    height: 3vh;
}

.book-table > tbody > tr:nth-child(odd) {
    background-color: white;
}

.book-table > td {
    border-left-style: solid;
    text-align: center;
    border-color: whitesmoke;
}

td:nth-child(2) {
    text-align: left;
}

.book-button.btn-sm {
    padding-top: 0;
    padding-bottom: 0;
}

.add-book {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.input {
    background-color: purple;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: black;
    height: 100%;
    outline: 0;
    width: 30%;
    font-size: 22px;
}

.input-block > .input {
    color: antiquewhite;
}

.input-block {
    display: flex;
    gap: 1vh;
}

.input-label {
    width: 10%;
    font-size: 22px;
}

.form-button {
    width: 40%;
    font-size: larger;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}