.cell-v {
    background-color: green;
    color: green;
}

.cell-x {
    background-color: darkred;
    color: darkred;
}

.cell-neutral {
    background-color: grey;
    color: gray;
}

.cell-comma {
    background-color: orange;
    color: orange;
}

.cell-empty {
    background-color: #f1f2df;
}

.habits-table td {
    text-align: center;
}

.habits-table tbody > tr:first-child {
    background-color: lightblue;
}

.habits-table th {
    width: 8%;
}