.card-table {
    width: 20%;
    color:black;
    text-align:center;
    vertical-align:middle;
    justify-content:center;
    align-items: center;
    float: left;
    margin-bottom: 0;
    max-height: 180px;
    display: flex;
    flex: 1 1 0;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.result-v{
    background-color: green;
}

.result--{
    background-color: grey;
}

.result-x{
    background-color: darkred;
}

.result-slash{
    background-color: mediumpurple;
}

.result-part{
    background-color: orange;
}

.result-empty{
    background-color: cadetblue;
}

.value{
    font-size: 50px;
}
