.flex-habits {
    display: flex;
    justify-content: center;
    height: 40px;
}

.flex-habits .card-table .flex {
    font-size: 100%;
}

@media screen and (max-width: 700px) {
    .flex-habits .card-table .flex {
        font-size: 10px;
    }
}

.wrapper {
    display: grid;
}

.habits-item {
    flex: 1 1 0;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

.date-item {
    flex: 1 1 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row .mb-3 {
    margin: 1rem;
}

.option-button {
    font-family: serif;
}
