.app {
    height: 100%;
    background-color: #FFF0AA;
}

.head-bar {
    position: fixed;
    top: 0;
}

.table tr{
    height: 4vh;
}
.book-button.btn-sm{
    padding-top: 0;
    padding-bottom: 0;
}

.table tr > th {
    padding: 0;
}
.table tr > td {
    padding: 0;
}

.table tr td:first-child{
    font-weight: bold;
}
