.book-stats-table {
    width: 30%;
}

.book-stats-table > tbody > tr.bold-row-stats > th:nth-child(3){
    font-weight: bold;
    font-size: 110%;
}
.book-stats-table > * tr > th {
    font-weight: normal;
}
.book-stats-table > * tr.bold-row-stats > th {
    font-weight: bold;
}

tbody tr.recent-row-stats{
    background-color: #4ca331;
}

.book-stats-table > * tr > th:nth-child(1) {
    font-weight: normal;
}

.book-stats-table > * td {
    border-color: black;
    border-left-style: solid;
    text-align: center;
}

.book-stats-table > thead > tr > th {
    font-weight: bold;
}

.book-stats-table > th:nth-child(1) {
    width: 20%;
}

.book-stats-table > td:nth-child(2) {
    width: 10%;
}